{% extends "layout.html" %}

{% block title %}Forum{% endblock %}

{% block content %}
  <h1>Forum</h1>

{%if logged_in%}
    <form action='/posted' method="post">
    <textarea name="message" style="width:100%; height:100px;"></textarea>
    <br>
    <input type="submit" value="Post">
    </form>
    {{ past_posts }}
{%else%}
    <p>
    You must be logged in to post on the forum.Forum description: this is a posting website that allows users to post information, question, answer, and more!
    The information will be deleted every night so one may have to repost.User Guidelines: users must be login to see and use the forum.
    users should only post short paragraph and never Spam.  </p>

{%endif%}
    
  
  
  



{% endblock %}
